
.footer-wrapper{
    display: flex;
    height: 11vh;
    margin-top: 60px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-image: url(../img/footer.jpg);
    opacity: 0.8;
}
.footer-icons{
    color: rgb(28, 27, 27);
    display: flex;
    position: absolute;
    align-items: center;
    gap: 1.5rem;
    padding-left: 2rem;
    padding-top: 0.4rem;
}
.icon{
    color: rgb(28, 27, 27);
}
.copyright{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
    position: absolute;
}
.footer-p{
    color: rgb(28, 27, 27);
    padding-right: 2rem;
}

@media screen and (max-width:480px){

.footer-wrapper{
    flex-direction: column;
    height: 16vh;
    margin-top: 40px;
}
#email{
    display: none;
}
.footer-icons{
    position: static;
    width: 100%;
    height: 50%;
    gap: 1 rem;
    padding-left: 1.5rem;
}
.copyright{
    position: relative;
    width: 100%;
    height: 50%;
}
.footer-p{
    padding-right: 1.5rem;
}
}
