/*---LEFT SIDE---*/

.home{
  display: flex;
  height: 77vh;
  margin-top: 6rem;
  padding: 0.5rem 3.5rem;
  position: relative;
  border-radius: 26px;
  box-shadow: var( --boxShadow);
  margin-bottom: 40px;
}
.home-left{
  display: flex;
  position: relative;
  flex-direction: column;
  flex:1;
}
.home-name{
  display: flex;
  flex-direction: column;
}
h1{
  color: var(--orange);
}

/*---RIGHT SIDE---*/

.home-right{
  flex:1;
  gap: 2.5rem;
  display: flex;
  justify-content: center;
}
.photo1{
  height: 100%;
  border-radius: 60px;
}

@media screen and (max-width:480px){
  .home{
    margin: 0px 0px 10px;
    padding: 0px 10px 10px 10px;
    flex-direction: column;
    height: 90vh;
  }
  .home-right{
    display: none;
  }
}