.nav-wrapper {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    background: white;
    width: 100%;
}
.nav-left{
    display: flex;
    flex:1;
    align-items: center;
}
.logo{
    width: 44px;
    padding-left: 3.5rem;
    padding-right: 1rem;
    opacity: 0.5;
}
.my-name{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--black);
   
}

.nav-right{
    display: flex;
    flex: 1;
    align-items: center;
}
.nav-list{
    flex: 10;
}
.nav-list>ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: right;
    padding-right: 3.5rem;
}
.nav-list>ul:hover{
    cursor: pointer;
}
.nav-li:hover{
    color: var(--orange);
}

@media screen and (max-width:480px) {
    .nav-list{
        display: none;
    }
    
   .logo{
        padding-left: 1.5rem;
        padding-right: 0.5rem;
   }
    .my-name{
        padding: 10px;
        font-size: 20px;
        width: 100%;
        
    }
   
}