.up-btn-container{
    display: flex;
    justify-content: flex-end;
    padding: 0 3rem 0 3rem
}

.up{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 34px;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0;
    background: linear-gradient(180deg, #ffe202 26.71%, #fbb739 99.36%);
}